.cabecalho {
    background-color: #171549;

}

.entrar {
    color: white;
    font-size: 1.75vw;
}

.imagemt {
    display: flex;
}

.legais {
    display: flex;
}

.curiosidades, .fotos, .jogos {
    display: grid;
}